/* __V3D_TEMPLATE__ - template-based file; delete this line to prevent this file from being updated */

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../honor_reloj/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../honor_reloj/fonts/AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

a{
    display: none;
}

body {
    margin: 0px;
    overflow: hidden;
}

#v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}

.v3d-simple-preloader-bar {
    background: #fff;
}

.v3d-simple-preloader-background {
    background-color: #000;
}

.v3d-simple-preloader-logo {
    background-image: url("../honor_audifonos/img/logo.svg");
    background-size: 110px;
}

p{
    color: #fff;
}

header {
	position: fixed;
	width: 100vw;
}
header .logo {
    padding: 45px 0 0 45px;
}
.logo{
    width: 150px;
}
.title {
	position: absolute;
	top: 40%;
	width: 35%;
	left: 3%;
	font-size: 4vw;
    color: #fff;
    font-family: 'Avenir Next Demi';
    line-height: 1.3;
}
.note {
	position: absolute;
	width: 300px;
	height: auto;
	right: 3%;
	top: 10%;
	text-align: center;
	font-size: 18px;
	text-align: left;
	padding: 10px;
}
.botones{
    width: 100%;
    position: relative;
}
.botones button{
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.note p{
    color: #fff;
    font-family: 'Avenir Next LT Pro';
    line-height: 1.5;
    
}
.note .small{
    font-size: 10px;
}

.botones-mobile {
    display: none;
}
/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

@media only screen and (max-width:767px), only screen and (max-device-width:767px) {

    .note{
        display: none;
    }
    .title {
        position: absolute;
        top: 75px;
        font-size: 9vw;
        width: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 10px;
        text-align: right;
    }
    header{
        text-align: right;
    }
    header .logo {
        padding: 35px 20px 0 13px;
        width: 90px;
    }
    .botones-mobile button{
        width: 100%;
        height: 35px;
        margin-bottom: 15px;
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
    .botones-mobile {
        display: block;
        width: 80%;
        position: absolute;
        bottom: 13%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }
